# compiled python
*.pyc
*.egg-info/

# python testing
__pycache__/

# coverage reports
.coverage
htmlcov/

# compiled documentation
docs/source/
docs/.doctrees/
docs/_build/

# other packages
packages/

# licenses
wc_sandbox/assets/licenses/